[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = {index = "https://pypi.python.org/simple/",version = "*"}
flake8 = {index = "https://pypi.python.org/simple/",version = "*"}
rope = {index = "https://pypi.python.org/simple/",version = "*"}

[packages]
pyqt5 = {index = "https://pypi.python.org/simple/",version = "*"}

[requires]
python_version = "3.7"
